@import './styles/_colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/ui/background_diamondtile.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-headerDivisor {
  min-height: 65vh;
}

.appTitle {
  font-family: 'Carattere';
  font-weight: bold;
  font-size: 40pt;
  color: purple;
}

.site-btn {
  border: none;
}

.btn-filled-primary {
  background-color: $color-primary !important;
}
.btn-filled-primary:hover {
  background-color: $color-primary-darker !important;
}

.btn-filled-secondary {
  background-color: $color-secondary;
}
.btn-filled-secondary:hover {
  background-color: $color-secondary-darker !important;
}

.btn-filled-tertiary {
  background-color: $color-tertiary;
}
.btn-filled-tertiary:hover {
  background-color: $color-tertiary-darker !important;
}

.site-btn-outlined {
  border: 1px solid blue;
  border-radius: 3px;
  background-color: transparent;
  padding: 6pt;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-outlined-primary {
  border-color: $color-primary;
  color: $color-primary;
  transition: all 0.3s;
}
.btn-outlined-primary:hover {
  border-color: $color-primary;
  background-color: $color-primary;
  color: white;
  transition: all 0.3s;
}

.btn-outlined-secondary {
  border-color: $color-secondary;
  color: $color-secondary;
  transition: all 0.3s;
}
.btn-outlined-secondary:hover {
  border-color: $color-secondary;
  background-color: $color-secondary;
  color: white;
  transition: all 0.3s;
}

.btn-outlined-tertiary {
  border-color: $color-tertiary;
  color: $color-tertiary;
}
.btn-outlined-tertiary:hover {
  border-color: $color-tertiary;
  background-color: $color-tertiary;
  color: white;
}

#home-newsRowContainer {
}

#home-newsRow {
  padding: 40pt 10pt;
}

#home-signupRow {
  padding: 60pt 0 !important;
}

//  ===================================================================

@media screen and (min-width: 280px) {
  #app-headerDivisor {
    min-height: 45vh;
  }

  #siteheader-title {
    font-size: 30pt;
    text-align: center;
    position: relative;
    top: 2.1em;
  }

  #siteheader-subtitle {
    font-size: 14pt !important;
    color: white !important;
    position: relative !important;
    top: 3.4em !important;
  }

  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }

  .home-leadWrapper {
    padding: 30pt 0 !important;
  }

  .home-leadText {
    font-size: 12pt !important;
  }

  .home-rowFeatCards {
    margin-bottom: 0pt !important;
  }

  // #home-newsRow {
  //   padding: 40pt 10pt;
  // }
}

@media screen and (min-width: 320px) {
  #siteheader-title {
    font-size: 30pt;
  }

  #siteheader-subtitle {
    font-size: 16pt !important;
    color: white !important;
    position: relative !important;
    top: 2.8em !important;
  }

  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }

  .home-rowFeatCards {
    margin-bottom: 20pt !important;
  }
}

@media screen and (min-width: 375px) {
  #siteheader-subtitle {
    position: relative;
    top: 42pt !important;
  }
  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 812px) {
  #siteheader-subtitle {
    position: relative;
    top: 56pt !important;
  }
  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }
}

@media screen and (min-width: 411px) {
  #siteheader-subtitle {
    position: relative;
    top: 58pt !important;
  }

  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }
}

@media screen and (min-width: 414px) {
  #siteheader-title {
    font-size: 40pt;
  }

  #siteheader-subtitle {
    position: relative;
    top: 65pt !important;
  }

  .siteheader-showcase {
    min-height: 40vh !important;
    padding: 0px !important;
  }
}

@media screen and (min-width: 500px) {
  .home-leadWrapper {
    padding: 10pt 0 !important;
  }

  .home-leadText {
    font-size: 14pt !important;
  }
}

@media screen and (min-width: 768px) {
  #app-headerDivisor {
    min-height: 65vh;
  }

  #siteheader-title {
    font-size: 60pt;
    text-align: center;
  }

  #siteheader-subtitle {
    font-size: 20pt !important;
    color: white !important;
    position: relative !important;
    top: 5em !important;
  }

  .siteheader-showcase {
    min-height: 60vh !important;
    padding: 0px !important;
  }

  .home-leadWrapper {
    padding: 30pt 20pt !important;
  }

  .home-leadText {
    font-size: 14pt !important;
  }
}

@media screen and (min-width: 1024px) {
  #siteheader-title {
    font-size: 65pt;
    text-align: center;
    position: relative;
    top: 1.5em;
  }

  #siteheader-subtitle {
    font-size: 26pt !important;
    color: white !important;
    position: relative !important;
    top: 2.6em !important;
  }

  .siteheader-showcase {
    min-height: 60vh !important;
    padding: 0px !important;
  }
}

@media screen and (min-width: 1440px) {
  #siteheader-title {
    font-size: 82pt;
    text-align: center;
    position: relative;
    top: 1.5em;
  }

  #siteheader-subtitle {
    font-size: 32pt !important;
    color: white !important;
    position: relative !important;
    top: 2.8em !important;
  }

  .siteheader-showcase {
    min-height: 60vh !important;
    padding: 0px !important;
  }

  #home-titleText {
    // border: 1px solid blue;
  }

  #home-titleHeader {
    // border: 1px solid red;
    text-align: center;
  }

  .home-leadText {
    font-size: 16pt !important;
    max-width: 1100px;
    position: relative;
    margin: 30pt auto;
  }
}
